.gameboard-tile {
  display: block;
  box-sizing: border-box;
  border: 2px solid #0096be;
  background-color: black;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  text-align: center;
  cursor: default; }

.gameboard-tile.rotate {
  transition: transform 2s;
  transform: rotate(360deg); }

.gameboard-tile.unrotate {
  transform: rotate(-300deg); }

.gameboard {
  display: block;
  box-sizing: border-box;
  border: 2px solid #0096be;
  background-color: black; }

.selection-tile {
  display: block;
  box-sizing: border-box;
  border: 2px solid #0096be;
  background-color: black;
  color: #0096be;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  text-align: center;
  cursor: default; }

.erase-tile-button {
  display: block;
  box-sizing: border-box;
  border: 2px solid #0096be;
  background-color: black;
  color: #0096be;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  text-align: center;
  cursor: default; }

.new-game-button {
  display: block;
  box-sizing: border-box;
  border: 2px solid #0096be;
  background-color: black;
  color: #0096be;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  text-align: center;
  cursor: default; }

.top-title {
  display: block;
  box-sizing: border-box;
  border: 2px solid #0096be;
  background-color: black;
  color: #0096be;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  text-align: center;
  cursor: default; }

.clock {
  display: block;
  box-sizing: border-box;
  border: 2px solid #0096be;
  background-color: black;
  color: #0096be;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  text-align: center;
  cursor: default; }

.game-view {
  display: block;
  background-color: black;
  overflow: hidden;
  box-sizing: border-box; }

.main-menu-title {
  display: block;
  box-sizing: border-box;
  border: 2px solid #0096be;
  background-color: black;
  color: #0096be;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  text-align: center;
  cursor: default; }

.main-menu-button {
  display: block;
  box-sizing: border-box;
  border: 2px solid #0096be;
  background-color: black;
  color: #0096be;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  text-align: center;
  cursor: default; }

.main-menu-view {
  display: block;
  background-color: black;
  overflow: hidden;
  box-sizing: border-box; }

.view {
  position: absolute;
  overflow: hidden; }

.view.hidden {
  height: 0 !important;
  width: 0 !important;
  border: 0 !important; }

* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  padding: 0;
  margin: 0; }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */ }
