.game-top-box {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}
.game-top-box .menu-btn{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex:1;
  flex: 1;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(110,50,50,1);
  margin: 2px;
  border: 2px solid rgba(0,0,0,1);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 5.9vw;
  cursor: default;
}
.game-top-box .title{
  -webkit-box-flex: 8;
  -moz-box-flex: 8;
  -webkit-flex:8;
  flex: 8;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(110,50,50,1);
  margin: 2px;
  border: 2px solid rgba(0,100,100,1);
  color: rgba(0,150,150,1);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 5.9vw;
  cursor: default;
}
.game-top-box .reset-btn{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex:1;
  flex: 1;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(110,50,50,1);
  margin: 2px;
  border: 2px solid rgba(0,0,0,1);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 5.9vw;
  cursor: default;
}
